.notifications {
    position: absolute;
    top: 80px;
    left: 260px;
    background-color: white;
    width: calc(100% - 270px);
    height: calc(100% - 90px);
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow-y: auto;
    padding: 20px;
}
.notifications.collapsed {
  left: 100px; 
  width: calc(100% - 110px); 
}
.notifications h3 {
  margin-bottom: 15px;
  color: #333;
}

.notifications-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.notifications-item {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #fafafa;
  padding: 12px 15px;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  transition: 0.2s;
}

.notifications-item:hover {
  background-color: #f5f5f5;
}


.details p {
  margin-bottom: 3px;
  font-weight: 500;
  color: #333;
}

.details span {
  font-size: 13px;
  color: #777;
}

body.dark .notifications {background-color: #464646; color: white;}
body.dark .notifications h3 {color: white;}
body.dark .notifications-item {background-color: #E2E2E2;}

@media(max-width:992px){
  .notifications {
    top: 50px;
    left: 180px;
    width: calc(100% - 185px);
    height: calc(100% - 55px);
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 10px;
  }
  .notifications.collapsed {
    left: 60px; 
    width: calc(100% - 65px); 
  }
}
@media(min-width:1600px){
  .notifications {
    padding: 30px 50px;
  }
  .notifications h3 {
    font-size: 25px;
  }
  .notifications-item {
    font-size: 22px;
  }
}