
.settings {
    position: absolute;
    top: 80px;
    left: 260px;
    background-color: white;
    width: calc(100% - 270px);
    height: calc(100% - 90px);
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow-y: auto;
    padding: 20px;
}
.settings.collapsed {
  left: 100px; 
  width: calc(100% - 110px); 
}
.settings-container {
  max-width: 400px;
  border: 1px solid #F9F9F9;
  margin: 0 auto;
  background-color: #F9F9F9;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
.settings h3 {
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.settings-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-section {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.profile-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.profile-section label {
  display: block;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #555;
}

.profile-section input {
  width: 250px;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

.preferences {
  display: flex;
  align-items: center;
  gap: 10px;
}

.toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.toggle input {
  display: none;
}

.slider {
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 15px;
  position: relative;
  transition: 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 14px;
  height: 14px;
  background: white;
  border-radius: 50%;
  transition: 0.3s;
}

.toggle input:checked + .slider {
  background-color: #4f46e5;
}

.toggle input:checked + .slider::before {
  transform: translateX(20px);
}

.save-btn {
  background-color: #4f46e5;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  width: fit-content;
  margin: 0 auto;
}

.save-btn:hover {
  background-color: #4338ca;
}

body.dark .settings {background-color: #464646; color: white;}
body.dark .settings-container {background-color: #E2E2E2}
body.dark .profile-avatar  {background-color: #464646;}
body.dark .toggle {color: #333;}

@media(max-width:992px){
  .settings {
    top: 50px;
    left: 180px;
    width: calc(100% - 185px);
    height: calc(100% - 55px);
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 10px;
  }
  .settings.collapsed {
    left: 60px; 
    width: calc(100% - 65px); 
  }
  .settings .profile-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media(min-width:1600px){
  .settings {
    padding: 30px 50px;
  }
  .settings-container {
    max-width: 700px;
    padding: 20px;
    margin-top: 50px;
  }
  .settings h3 {
    font-size: 25px;
  }
  .profile-section {
    display: flex;
    flex-direction: row;
    gap: 150px;
  }
  .settings .profile-avatar {
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-top: 20px;
  }
  .profile-section input {
    width: 350px;
    padding: 10px 13px;
    font-size: 20px;
  }
  .profile-section label, .toggle {
    font-size: 20px;
  }
  .save-btn {
    padding: 15px 20px;
    font-size: 20px;
  }
}