.sidebar {
  background-color: white;
  height: calc(100vh - 20px);
  width: 240px;
  margin: 10px;
  border-radius: 10px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
}
.sidebar.collapsed {
    width: 80px;
}
.sidebar-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}
.toggle-btn {
  cursor: pointer;
  font-size: 22px;
  color: #333;
  margin-left: 15px;
}
.sidebar h2 {
    display: inline;
    color: #333;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 15px;
  border-radius: 8px;
  color: #333;
}
.link:hover {
  background-color: #f3f3f3;
}
.link.active {
  background-color: #333;
  color: white;
}
.icon {
  font-size: 20px;
}
.sidebar.collapsed .link span {
  display: none;
}
.sidebar.collapsed .menu {
  align-items: center;
}

body.dark .sidebar {background-color: #464646;}
body.dark .sidebar .toggle-btn,
body.dark .sidebar .link,
body.dark .sidebar h2 {color: white;}
body.dark .sidebar .link:hover {background-color: #d4d4d4; color: #464646}
body.dark .link:active {background-color: white; color:#464646}

@media (max-width: 992px) {
  .sidebar {
    height: calc(100vh - 10px);
    width: 170px;
    margin: 5px;
    padding: 10px;
  }
  .sidebar.collapsed {
    width: 50px;
  }
  .sidebar-top {
    gap: 10px;
  }
  .toggle-btn {
    margin-left: 5px;
  }
  .menu {
    gap: 30px;
  }
  .link {
    padding: 7px;
  }
}
@media (min-width: 1600px) {
  .menu {
    gap: 30px;
  }
  .link {
    gap: 20px;
    font-size: 20px;
  }
}