* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'inter', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  background-color: #ececec;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}
.element {
  scrollbar-width: thin;
  scrollbar-color: #888;
}
body.dark ::-webkit-scrollbar-thumb {background-color: rgb(101, 100, 100); border-color: rgb(108, 108, 108);}
body.dark .element {scrollbar-color: rgb(101, 100, 100);}

@media(max-width: 992px){
  ::-webkit-scrollbar {
    display: none;
  }
  .element {
    display: none;
  }
}